*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.cardProduct{
  min-height: 100%;
  text-decoration: none;
}

.stock-color{
  color: #64CCC5;
}

.rm_decoration{
  text-decoration: none;
}